<!DOCTYPE html>
<html>
  <head>
    <title>Redirecting to latest version</title>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url=./{{ env['LATEST_TAG'] }}/index.html">
    <link rel="canonical" href="https://data-only-greater.github.io/SNL-Delft3D-CEC-Verify/{{ env['LATEST_TAG'] }}/index.html">
  </head>
</html>
